*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.color1 {color: #453341;}
.color2 {color: #694855;}
.color3 {color: #977981;}
.color4 {color: #caa8ab;}
.color5 {color: #e0cbc2;}


main,body{
    width: 100vw;
    height: 100vh;
    background: #453341;
    display: flex;
    justify-content: center;
    align-items: center;
    

}section{
    padding: 80px;
    border-radius: 20px;
    text-align: center;
    background-color:#694855;
    border: 6px solid #977981;
}
h1{
    margin-bottom: 14px;
    color: #ffff;
    font-size: 30px;
    
}
input, button{
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #e0cbc2;
}   

input::placeholder{
    font-size: 15px;
}

#button{
    animation-duration: 0.3s;

}
#button:hover{
    background-color: #caa8ab;
}
